header.wrapper.header#header
    .container
        h1.header__title.
            Лэндинг — быстрый старт продаж 
            для&nbsp;вашего бизнеса
        .header__sub-title.
            вникаем в задачу · не обещаем лишнего · делаем качественно · добиваемся результата

        
