.pop-up#consult(style="display:none;")
    .pop-up__wrapper
        .pop-up__title.
            Консультация
        .pop-up__sub-title.
            Перезвоним в течение рабочего дня 
            и разберемся в задаче           
        form    
            .pop-up__form
                .pop-up__form-group.pop-up__form-group--half
                    input(type="text" placeholder="Ваше имя").pop-up__input
                .pop-up__form-group.pop-up__form-group--half
                    input(type="text" placeholder="Телефон").pop-up__input
                .pop-up__form-group
                    textarea(type="text").pop-up__textarea
                button(type="submit").pop-up__submit.btn Отправить заявку      
